<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRLQYCvOiI3zSLeok8tn-fnzb1Xd2gH6c</string>
	<key>GCM_SENDER_ID</key>
	<string>247940272958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valentino.bontempi</string>
	<key>PROJECT_ID</key>
	<string>valentino-effcf</string>
	<key>STORAGE_BUCKET</key>
	<string>valentino-effcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247940272958:ios:4957d296eb043ce3cd926f</string>
</dict>
</plist>